@tailwind base;
@tailwind components;
@tailwind utilities;

.frame-container {
    @apply bg-white border border-r-4 border-t-4 border-black w-screen h-screen flex-col flex;
}

.frame-container-heading {
    @apply text-center my-2 flex-grow-0;
}

ul.auth-buttons-container, .frame-container-body {
    @apply flex-auto flex content-center justify-center;
}

ul.auth-buttons-container>li {
    @apply flex-grow content-center justify-center flex;
    flex: 1 1 0;
}
ul.auth-buttons-container>li>button {
    @apply w-full h-full text-center hover:bg-gray-200 p-4 cursor-pointer;
}

.btn {
    @apply py-1 px-4 text-sm bg-white border border-r-4 border-t-4 border-gray-900 -mr-2 -mt-2;
}

.btn:active {
    border-width: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.badge {
    @apply rounded text-white bg-gray-300 py-0.5 px-1;
}

.button-group > button {
    @apply mr-4;
}